---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="flex-1 grid place-content-center">
    <div id="goodbyeWrapper" class="w-fit select-none transition">
      <div id="wrapper" class="w-fit transition">
        <h1 class="text-primary font-bold text-4xl relative cursor-pointer">
          {SITE_TITLE}
        </h1>
      </div>
    </div>
  </div>
</BaseLayout>

<script>
  import { TAILWIND_LG } from "src/consts";

  import { unreachable } from "src/utils/unreachable";
  const title = document.querySelector("h1");
  const wrapper = document.getElementById("wrapper");

  if (!title || !wrapper) {
    throw new Error();
  }

  const yEnd = window.innerHeight;
  const yMiddle = yEnd / 2;
  const xEnd = window.innerWidth;
  const xMiddle = xEnd / 2;

  if (xEnd >= TAILWIND_LG) {
    const handleMousemove = (e: MouseEvent) => {
      const x = ((e.clientX - xMiddle) / xEnd) * 120;
      const y = ((e.clientY - yMiddle) / yEnd) * 120;
      title.style.transform = `rotateY(${x}deg) rotateX(${-y}deg)`;
      title.style.top = `${(e.clientY - yMiddle) / 8}px`;
      title.style.left = `${(e.clientX - xMiddle) / 8}px`;
    };
    document.addEventListener("mousemove", handleMousemove);
  }

  let scale = 1;
  let opacity = 1;
  title?.addEventListener("click", () => {
    scale = scale * 1.1;
    wrapper.style.transform = `scale(${scale})`;

    if (scale <= 1.5) {
      return;
    }

    title.classList.add("animate-vibration");

    if (scale > 2) {
      title.classList.add("animate-vibrationFast");
    }

    opacity = opacity - 0.1;
    title.style.opacity = opacity.toString();

    if (opacity <= 0.1) {
      wrapper.classList.add("hidden");
      return;
    }
  });
</script>
