---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WithDrawerLayout from "./WithDrawerLayout.astro";
import { HTML_ID } from "src/consts";

type Props = {
  title: string;
  description: string;
};

const id = "drawer";
const { title, description } = Astro.props;
---

<html lang="ja" id={HTML_ID}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <WithDrawerLayout id={id}>
      <div class="h-20 lg:hidden"></div>
      <Header id={id} />
      <main class="max-w-screen-xl w-full m-auto px-4 lg:px-8">
        <slot />
      </main>
      <Footer />
    </WithDrawerLayout>
  </body>
</html>
