---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import Sidebar from "@components/Sidebar.astro";
import ContentLayout from "./ContentLayout.astro";
import type { MarkdownHeading } from "astro";
import Title from "@components/Title.astro";
import Tag from "@components/Tag.astro";
import PublishDateIcon from "@components/icons/PublishDateIcon.astro";
import UpdateIcon from "@components/icons/UpdateIcon.astro";

type Props = CollectionEntry<"posts">["data"] & {
  headings: MarkdownHeading[];
};

const { title, description, pubDate, updatedDate, heroImage, headings, tags } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
  <article
    class="w-full flex flex-col-reverse lg:flex-row gap-y-8 lg:gap-x-8 gap-x-0 grid-cols-1 lg:grid-cols-3"
  >
    <div class="flex-2">
      <ContentLayout>
        <div class="grid gap-3">
          <Title title={title} />
          <ul class="flex gap-4 text-neutral-500">
            <li class="text-sm flex gap-1">
              <PublishDateIcon /><span>公開:</span><FormattedDate
                date={pubDate}
              />
            </li>
            {
              updatedDate && (
                <li class="text-sm flex gap-1">
                  <UpdateIcon />
                  <span>更新:</span>
                  <FormattedDate date={updatedDate} />
                </li>
              )
            }
          </ul>
          {
            tags.length ? (
              <ul class="flex gap-4">
                {tags.map((tag) => (
                  <Tag name={tag} />
                ))}
              </ul>
            ) : null
          }
        </div>
        <hr class="my-6" />
        <div class="prose max-w-full">
          <slot />
        </div>
      </ContentLayout>
    </div>
    <div class="flex-1 flex flex-col gap-4">
      {
        heroImage && (
          <img
            class="object-cover  aspect-video rounded-2xl m-0 shadow"
            src={heroImage}
          />
        )
      }
      <Sidebar headings={headings} />
    </div>
  </article>
</BaseLayout>
