---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import Sidebar from "@components/Sidebar.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article
    class="prose w-full max-w-full grid gap-y-12 lg:gap-x-12 gap-x-0 lg:grid-cols-3"
  >
    {
      heroImage && (
        <img
          class="object-cover w-full rounded-2xl max-h-80 col-span-3 m-0"
          src={heroImage}
        />
      )
    }
    <div class="col-span-2">
      <h1 class="title">{title}</h1>
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
      <hr />
      <div class="prose max-w-full">
        <slot />
      </div>
    </div>
    <Sidebar />
  </article>
</BaseLayout>
